test/src/conf/xml-resources/web-service-references/BookSoap/wsdl/localhost_8080/test/BookSoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="BookSoap">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/test/BookSoap?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchBooks">
<part name="parameters" element="tns:fetchBooks"/>
</message>
<message name="fetchBooksResponse">
<part name="parameters" element="tns:fetchBooksResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="fetchUsers">
<part name="parameters" element="tns:fetchUsers"/>
</message>
<message name="fetchUsersResponse">
<part name="parameters" element="tns:fetchUsersResponse"/>
</message>
<message name="fetchUser">
<part name="parameters" element="tns:fetchUser"/>
</message>
<message name="fetchUserResponse">
<part name="parameters" element="tns:fetchUserResponse"/>
</message>
<message name="fetchBook">
<part name="parameters" element="tns:fetchBook"/>
</message>
<message name="fetchBookResponse">
<part name="parameters" element="tns:fetchBookResponse"/>
</message>
<message name="fetchBookList">
<part name="parameters" element="tns:fetchBookList"/>
</message>
<message name="fetchBookListResponse">
<part name="parameters" element="tns:fetchBookListResponse"/>
</message>
<portType name="BookSoap">
<operation name="fetchBooks">
<input wsam:Action="http://soap.wsd.uts/BookSoap/fetchBooksRequest" message="tns:fetchBooks"/>
<output wsam:Action="http://soap.wsd.uts/BookSoap/fetchBooksResponse" message="tns:fetchBooksResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBooks/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBooks/Fault/JAXBException"/>
</operation>
<operation name="fetchUsers">
<input wsam:Action="http://soap.wsd.uts/BookSoap/fetchUsersRequest" message="tns:fetchUsers"/>
<output wsam:Action="http://soap.wsd.uts/BookSoap/fetchUsersResponse" message="tns:fetchUsersResponse"/>
</operation>
<operation name="fetchUser">
<input wsam:Action="http://soap.wsd.uts/BookSoap/fetchUserRequest" message="tns:fetchUser"/>
<output wsam:Action="http://soap.wsd.uts/BookSoap/fetchUserResponse" message="tns:fetchUserResponse"/>
</operation>
<operation name="fetchBook">
<input wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookRequest" message="tns:fetchBook"/>
<output wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookResponse" message="tns:fetchBookResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBook/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBook/Fault/JAXBException"/>
</operation>
<operation name="fetchBookList">
<input wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookListRequest" message="tns:fetchBookList"/>
<output wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookListResponse" message="tns:fetchBookListResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookList/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://soap.wsd.uts/BookSoap/fetchBookList/Fault/JAXBException"/>
</operation>
</portType>
<binding name="BookSoapPortBinding" type="tns:BookSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="fetchUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="fetchBookList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookSoap">
<port name="BookSoapPort" binding="tns:BookSoapPortBinding">
<soap:address location="http://localhost:8080/test/BookSoap"/>
</port>
</service>
</definitions>