test/src/conf/xml-resources/web-service-references/BookSoap/wsdl/localhost_8080/test/BookSoap.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.wsd.uts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.wsd.uts/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="book" type="tns:book"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="fetchBook" type="tns:fetchBook"/>

<xs:element name="fetchBookList" type="tns:fetchBookList"/>

<xs:element name="fetchBookListResponse" type="tns:fetchBookListResponse"/>

<xs:element name="fetchBookResponse" type="tns:fetchBookResponse"/>

<xs:element name="fetchBooks" type="tns:fetchBooks"/>

<xs:element name="fetchBooksResponse" type="tns:fetchBooksResponse"/>

<xs:element name="fetchUser" type="tns:fetchUser"/>

<xs:element name="fetchUserResponse" type="tns:fetchUserResponse"/>

<xs:element name="fetchUsers" type="tns:fetchUsers"/>

<xs:element name="fetchUsersResponse" type="tns:fetchUsersResponse"/>

<xs:element name="users" type="tns:users"/>

<xs:complexType name="fetchUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBook">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="published" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBookList">
<xs:sequence>
<xs:element name="arg0" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="book" type="tns:book" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBookListResponse">
<xs:sequence>
<xs:element name="return" type="tns:book" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchBooks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchBooksResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fetchUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:users" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="users">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>